{% extends "uploader/base.html" %}
{% block content %}
    <div>
        <form action="{% url 'uploader:index' %}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" />
            {% csrf_token %}
            <input type="submit" value="Upload" class="btn btn-primary"/>
        </form>
    </div>
    <div>
        <h3>file list</h3>
        <ul>
        {% for file in files %}
            <li> 
                <a href="{{ file.file.url }}"> {{ file }} </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div> Page: {{ files.number }} </div>
{% endblock %}